Battleship.Server.Shared/Service References/BattleShipServerClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Battleship.Server.Shared" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Battleship.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerContract_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="IServerContract_RegisterClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServerContract_RegisterClient_GameFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Battleship.Server.Shared" name="detail" element="q1:GameFault" />
  </wsdl:message>
  <wsdl:message name="IServerContract_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IServerContract_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServerContract_StartGame_GameFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Battleship.Server.Shared" name="detail" element="q2:GameFault" />
  </wsdl:message>
  <wsdl:message name="IServerContract_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IServerContract_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServerContract_LeaveGame_GameFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Battleship.Server.Shared" name="detail" element="q3:GameFault" />
  </wsdl:message>
  <wsdl:message name="IServerContract_Shoot_InputMessage">
    <wsdl:part name="parameters" element="tns:Shoot" />
  </wsdl:message>
  <wsdl:message name="IServerContract_Shoot_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShootResponse" />
  </wsdl:message>
  <wsdl:message name="IServerContract_Shoot_GameFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Battleship.Server.Shared" name="detail" element="q4:GameFault" />
  </wsdl:message>
  <wsdl:message name="IServerContract_ProcessMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessage" />
  </wsdl:message>
  <wsdl:message name="IServerContract_InformAboutShoot_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:InformAboutShoot" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServerContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterClient">
      <wsdl:input wsam:Action="http://tempuri.org/IServerContract/RegisterClient" message="tns:IServerContract_RegisterClient_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/RegisterClientResponse" message="tns:IServerContract_RegisterClient_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IServerContract/RegisterClientGameFaultFault" name="GameFaultFault" message="tns:IServerContract_RegisterClient_GameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartGame">
      <wsdl:input wsam:Action="http://tempuri.org/IServerContract/StartGame" message="tns:IServerContract_StartGame_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/StartGameResponse" message="tns:IServerContract_StartGame_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IServerContract/StartGameGameFaultFault" name="GameFaultFault" message="tns:IServerContract_StartGame_GameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveGame">
      <wsdl:input wsam:Action="http://tempuri.org/IServerContract/LeaveGame" message="tns:IServerContract_LeaveGame_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/LeaveGameResponse" message="tns:IServerContract_LeaveGame_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IServerContract/LeaveGameGameFaultFault" name="GameFaultFault" message="tns:IServerContract_LeaveGame_GameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Shoot">
      <wsdl:input wsam:Action="http://tempuri.org/IServerContract/Shoot" message="tns:IServerContract_Shoot_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/ShootResponse" message="tns:IServerContract_Shoot_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IServerContract/ShootGameFaultFault" name="GameFaultFault" message="tns:IServerContract_Shoot_GameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProcessMessage">
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/ProcessMessage" message="tns:IServerContract_ProcessMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InformAboutShoot">
      <wsdl:output wsam:Action="http://tempuri.org/IServerContract/InformAboutShoot" message="tns:IServerContract_InformAboutShoot_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcp" type="tns:IServerContract">
    <wsp:PolicyReference URI="#netTcp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameFaultFault">
        <soap12:fault use="literal" name="GameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameFaultFault">
        <soap12:fault use="literal" name="GameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameFaultFault">
        <soap12:fault use="literal" name="GameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Shoot">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/Shoot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameFaultFault">
        <soap12:fault use="literal" name="GameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessMessage">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/ProcessMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutShoot">
      <soap12:operation soapAction="http://tempuri.org/IServerContract/InformAboutShoot" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="netTcp" binding="tns:netTcp">
      <soap12:address location="net.tcp://localhost:8744/Battleship/nt" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8744/Battleship/nt</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SIRIXPC\Sirix</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>